<section class="content-header">
    <h1>
       Quadro de Efetivo
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ferramentas do usuário</a></li>
        <li class="active">Quadro de Efetivo</li>
    </ol>
</section>
<section class="content">
  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Efetivo Geral</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Previsto</th>
                                    <th>Existente</th>
                                    <th>Indisponível</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>

  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Uso Interno da DF</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Faltas</th>
                                    <th>Função Superior</th>
                                    <th>Vagas</th>
                                    <th>Vagas Ocupadas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>

                  <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Efetivo Indisponível</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="motivos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Posto/Graduação</th>
                                    <th>Licenças</th>
                                    <th>Agregado</th>
                                    <th>Curso</th>
                                    <th>Outras Dispensas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- CEL -->
                                <tr>
                                    <td>CEL(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TEN - CEL -->
                                <tr>
                                    <td>Ten Cel(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- MAJ -->
                                <tr>
                                    <td>MAJ QOEM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- CAP -->
                                <tr>
                                    <td>CAP(QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º TEN -->
                                <tr>
                                    <td>1º Ten QTPM</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 1º SGT -->
                                <tr>
                                    <td>1º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 2º Sgt -->
                                <tr>
                                    <td>2º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- 3º SGT -->
                                <tr>
                                    <td>3º Sgt (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- SD -->
                                <tr>
                                    <td>SD (QOEM ou QOES)</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <!-- TOTAL -->
                                <tr>
                                    <th>TOTAL</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                    <th>0</th>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
</section>
