    <div class="wrapper">

        <header class="main-header">
            <a href="index.php" class="logo">
                <span class="logo-mini"><b>CRPO</b></span>
                <span class="logo-lg"><b>CRPO</b>&nbsp;Serra</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- MENUS -->
         <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../dist/img/logoCRPO160X160.png" class="img-circle" style="width: 70%; margin-left: 12%; height: 100px; max-width: 100%;">
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">CRPO SERRA</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i><span>Substituição Temporária</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="cadastrarSubstituicaoTemporaria.php"><i class="fa fa-circle-o"></i>Cadastrar</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="consultarSubstituicaoTemporaria.php"><i class="fa fa-circle-o"></i>Consultar</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i><span>Aprovar Indisponibilidade</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="aprovarIndisponibilidadePorSuperior.php"><i class="fa fa-circle-o"></i>Aprovação por Superior</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="aprovarIndisponibilidadePorRH.php"><i class="fa fa-circle-o"></i>Aprovação por RH</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="aprovarIndisponibilidadeVisualicacaoRH.php"><i class="fa fa-circle-o"></i>Aprovação por visualização RH</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="aprovarIndisponibilidadeVisualicacaoSuperior.php"><i class="fa fa-circle-o"></i>Aprovação por visualização Superior</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Ferramentas administrativas</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Cadastros <i class="fa fa-angle-left pull-right"></i></a>
                               <ul class="treeview-menu">
                                    <li><a href="cadastrarOpm.php"><i class="fa fa-circle-o"></i>Quartel General</a></li><li><a href="cadastrarCompanhia.php"><i class="fa fa-circle-o"></i>Companhias </a></li>
                                    <li><a href="cadastrarContingente.php"><i class="fa fa-circle-o"></i>Contigente</a></li>
                                    <li><a href="cadastrarEscalaServico.php"><i class="fa fa-circle-o"></i>Escala de Serviço</a></li>
                                    <li><a href="cadastrarEstagiario.php"><i class="fa fa-circle-o"></i>Estagiários</a></li>
                                    <li><a href="cadastrarFuncao.php"><i class="fa fa-circle-o"></i>Funções</a></li>
                                    <li><a href="cadastrarTextoInformativo.php"><i class="fa fa-circle-o"></i>Texto Informativo</a></li>
                                    <li><a href="cadastrarJusticaDisciplina.php"><i class="fa fa-circle-o"></i>Justiça e Disciplina </a></li>
                                    <li><a href="cadastrarLicenca.php"><i class="fa fa-circle-o"></i>Licença</a></li>
                                    <li><a href="cadastrarPerfil.php"><i class="fa fa-circle-o"></i>Perfil</a></li>
                                    <li><a href="cadastrarPermissao.php"><i class="fa fa-circle-o"></i>Permissão</a></li>
                                    <li><a href="cadastrarPostoGraduacao.php"><i class="fa fa-circle-o"></i>Posto / Graduação </a></li>
                                    <li><a href="cadastrarSiglaDeServico.php"><i class="fa fa-circle-o"></i>Siglas de Serviço</a></li>
                                    <li><a href="cadastrarTipoServico.php"><i class="fa fa-circle-o"></i>Tipo de Serviço </a></li>
                                    <li><a href="cadastrarUnidade.php"><i class="fa fa-circle-o"></i>Unidades </a></li>
                                    <li><a href="cadastrarInformativo.php"><i class="fa fa-circle-o"></i>Informativo</a></li>
                                    <li><a href="cadastrarUniforme.php"><i class="fa fa-circle-o"></i>Uniforme</a></li>
                                    <li><a href="cadastrarUsuario.php"><i class="fa fa-circle-o"></i>Usuário</a></li>
                               </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Consultas <i class="fa fa-angle-left pull-right"></i></a>
                               <ul class="treeview-menu">
                               <li><a href="consultarOpm.php"><i class="fa fa-circle-o"></i>Quartel General</a></li>
                                    <li><a href="consutarCompanhia.php"><i class="fa fa-circle-o"></i>Companhias </a></li>
                                    <li><a href="consultarContigente.php"><i class="fa fa-circle-o"></i>Contigente</a></li>
                                    <li><a href="consultarEscalaServico.php"><i class="fa fa-circle-o"></i>Escala de Serviço</a></li>
                                    <li><a href="consultarEstagiario.php"><i class="fa fa-circle-o"></i>Estagiários</a></li>
                                    <li><a href="consultarEscalaEstagiario.php"><i class="fa fa-circle-o"></i>Escala Estagiários</a></li>
                                    <li><a href="consultarFuncao.php"><i class="fa fa-circle-o"></i>Funções</a></li>
                                    <li><a href="consultarTextoInformativo.php"><i class="fa fa-circle-o"></i>Texto Informativo</a></li>
                                    <li><a href="consultarJusticaDisciplina.php"><i class="fa fa-circle-o"></i>Justiça e Disciplina </a></li>
                                    <li><a href="consultarLicenca.php"><i class="fa fa-circle-o"></i>Licença</a></li>
                                    <li><a href="consultarPostoGraduacao.php"><i class="fa fa-circle-o"></i>Posto / Graduação </a></li>
                                    <li><a href="consultarSiglaDeServico.php"><i class="fa fa-circle-o"></i>Siglas de Serviço</a></li>
                                    <li><a href="consultarTipoServico.php"><i class="fa fa-circle-o"></i>Tipo de Serviço </a></li>
                                    <li><a href="consultarUnidade.php"><i class="fa fa-circle-o"></i>Unidade</a></li>
                                    <li><a href="consultarInformativo.php"><i class="fa fa-circle-o"></i>Informativo</a></li>
                                    <li><a href="consultarUniforme.php"><i class="fa fa-circle-o"></i>Uniforme</a></li>
                               </ul>
                            </li>


                            <li></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Importações e Boletim <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="importarBoletim.php"><i class="fa fa-circle-o"></i>Importar Boletim</a></li>
                                    <li><a href="consultarBoletim.php"><i class="fa fa-circle-o"></i>Consultar Boletim</a></li>
                                    <li><a href="importaBoletimInstrucao.php"><i class="fa fa-circle-o"></i>Importar Boletim Instrução</a></li>
                                    <li><a href="editarBoletimInstrucao.php"><i class="fa fa-circle-o"></i>Editar boletim Instrução</a></li>
                                    <li><a href="consultarBoletimInstrucao.php"><i class="fa fa-circle-o"></i>Consultar boletim Instrução</a></li>
                                    <li><a href="cadastrarBoletimDiario.php"><i class="fa fa-circle-o"></i>Cadastrar Boletim diário</a></li>
                                    <li><a href="consultarBoletimDiario.php"><i class="fa fa-circle-o"></i>Consultar Boletim diário</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- CARLOS -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i><span>Ferramentas do Usuário</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="apontarHora.php"><i class="fa fa-circle-o"></i>Apontamento de Horas</a></li>
                    <li><a href="solicitarDispensa.php"><i class="fa fa-circle-o"></i>Solicitar dispensa</a></li>
                    <li><a href="cadastrarDistribuicaoHoraExtra.php"><i class="fa fa-circle-o"></i>Cadastrar Distribuição de Horas Extra</a></li>
                    <li><a href="consultarDistribuicaoHoraExtra.php"><i class="fa fa-circle-o"></i>Consultar Distribuição de Horas Extra</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i><span>Relatórios</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="relatorioGeral.php"><i class="fa fa-circle-o"></i>relatorio Geral</a></li>
                </ul>
            </li>



                        </ul>
                    </li>
                </ul>
            </section>
        </aside>        <!-- /MENUS -->
        <!-- CORPO -->
        <div class="content-wrapper">
            <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastro de Companhia</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="bs-example">
                                <div class="col-md-12">
                                    <div class="form-group col-md-3">
                                        <label>Cidade</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="Selecione">Selecione</option>
                                            <option value="caxiasdosul">Caxias do Sul</option>
                                            <option value="saomarcos">São Marcos</option>
                                            <option value="passofundo">Passo Fundo</option>
                                            <option value="pelotas">Peotas</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sigla">Nome</label>
                                        <input type="text" placeholder="Nome companhia" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="form-group col-md-3">
                                        <label>Unidade</label>
                                        <select class="form-control select2" style="width: 100%;">
                                            <option selected="Selecione">Selecione</option>
                                            <option>Caxias do Sul - Parque Getúlio Vargas</option>
                                            <option>Caxias do Sul - Cruzeiro</option>
                                            <option>Caxias do Sul - Kaiser</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="ativo select2">Ativo</label>
                                        <select class="form-control" id="ativo">
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="sigla">Sigla</label>
                                        <input type="text" placeholder="Sigla da companhia" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success" >Salvar</button>
                            <button type="close" class="btn btn-danger" >Cancelar</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </section>
        </div>
        <!-- /CORPO -->
        <div class="control-sidebar-bg"></div>
    </div>
